
.inputContent {
    height: 2.5rem;
    width: 60%;
    margin: 0 auto;
    cursor: pointer;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.inputContent:hover {
    background-color: #F2F2F2;
}

#inputBox {
    height: 100%;
    flex:1;
    padding: 0;
   border-width: 0;
    margin: 0;
    text-align: center;
    border-style: none;
}
#inputBox:focus {
    outline:none;
}
#inputBox:hover {
    background-color:#F2F2F2;
}

img {
    width: 1.5rem;
    margin-left: 1rem;
}

.filterMachine {
    color: gray;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;

}
.left-item {
    padding-left: 0.5rem;
}

.clear{
    padding-right: 0.5rem;
}

.clear:hover {
    cursor: pointer;
    color:red;
}
.all:hover {
    cursor: pointer;
    color:red;
}
.active:hover {
    cursor: pointer;
    color:red;
}
.completed:hover {
    cursor: pointer;
    color:red;
}
.filterMachine{
 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 8px 0 -3px #f6f6f6,
    0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
}